body {
  /* background-color: blue; */
}
h1 {
  color: black;
  font-size: 4em;
  text-align: center;
  font-family: 'sans-serif';
}
.col {
  border: solid 1px black;
  background-color: grey;
  color: black;
  height: 100px;
  width: 100px;
  margin: 1px;
  font-size: 5em;
  font-family: 'sans-serif';
  text-align: center;
}
#button_div {
  text-align: center;
  margin-top: 30px;
}
#board {
  width: 320px;
  margin: auto;
}
#result, #info{
  text-align: center;
}
#result{
  color: red;
  font-size: 4em;
}
